<div class="advs_self">
  <div class="sl n1">
    <%= image_tag "sl1.svg" %>
  </div>
  <div class="sl n2 unseen">
    <%= image_tag "sl2.svg" %>
  </div>
  <div class="sl n3 unseen">
    <%= image_tag "sl3.svg" %>
  </div>
  <div class="sl n4 unseen">
    <%= image_tag "sl4.svg" %>
  </div>
  <div class="sl n5 unseen">
    <%= image_tag "sl5.svg" %>
  </div>
</div>
<section class="advs_all">
  <div class="inside">
    <div class="head">
      <div class="title">Советы для тебя</div>
      <div class="profile">
        <%= image_tag "profile.svg" %>
      </div>
    </div>

    <hr>

    <div class="ads_popular">
      <h2>Популярное</h2>
      <div class="adds_all">
        <div class="cart1">
          <%= image_tag "cart1.svg" %>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="homebar">
  <div class="icons">
    <div class="home">
      <%= image_tag "main.svg" %>
    </div>
    <div class="notes">
      <%= image_tag "notes.svg" %>
    </div>
    <div class="add">
      <%= image_tag "add.svg" %>
    </div>
    <div class="ads">
      <%= image_tag "libactive.svg" %>
    </div>
    <div class="history">
      <%= image_tag "history.svg" %>
    </div>
  </div>
</div>

<section class="account">
  <div class="field">
    <div class="prvc">
      <div class="head">
        <div class="back">
          <%= image_tag "back.svg" %>
        </div>
        <div class="exit">
          <%= image_tag "exit.svg" %>
        </div>
      </div>
      <div class="contentt">
        <div class="logo">
          <%= image_tag "zenlogoinactive.svg" %>
        </div>
        <h2>Мы заботимся о твоих чувствах и безопасности</h2>
        <p>Мы используем твои данные только для аналитики и с целью улучшить твое самочуствие. Кроме тебя никто не имеет к ним доступа.</p>
      </div>
      <button class="safe" type="button" name="button">Спасибо!</button>
    </div>

    <div class="nft">
      <div class="head">
        <div class="back">
          <%= image_tag "back.svg" %>
        </div>
        <div class="exit">
          <%= image_tag "exit.svg" %>
        </div>
      </div>
      <h2>Уделяй zen несколько минут в день, чтобы быть в контакте со своим близким</h2>
      <p>Давай настроим уведомления, чтобы ты не забыл быть внимательнее к чувствам своего близкого человека</p>
      <div class="notifications">
        <div class="nots">
          <p>доброе утро!</p>
          <div class="scale">
            <div class="time">
              10:00
            </div>
            <div class="switch">
              <div class="point"></div>
            </div>
          </div>
        </div>
        <div class="nots">
          <p>КАк день?</p>
          <div class="scale">
            <div class="time">
              15:00
            </div>
            <div class="switch">
              <div class="point"></div>
            </div>
          </div>
        </div>
        <div class="nots">
          <p>Готов ко сну?</p>
          <div class="scale">
            <div class="time">
              21:00
            </div>
            <div class="switch">
              <div class="point"></div>
            </div>
          </div>
        </div>
      </div>
      <button class="sv" type="button" name="button">
        <p>Сохранить</p>
      </button>
    </div>

    <div class="acses">
      <div class="head">
        <div class="back">
          <%= image_tag "back.svg" %>
        </div>
        <div class="exit">
          <%= image_tag "exit.svg" %>
        </div>
      </div>

      <h2>Может, твой близкий уже использует zen?</h2>
      <p>Ты можешь ввести ключ идентификации для отслеживания его состояния (он есть в настройках профиля твоего близкого человека)</p>
      <div class="enter">
         <%= text_area_tag 'key', nil, class: 'key' %>
      </div>
      <div class="btns">
        <button class="sff" type="button" name="button">Сохранить</button>
      </div>
    </div>

    <div class="content">
      <div class="head">
        <div class="back"></div>
        <div class="exit">
          <%= image_tag "exit.svg" %>
        </div>
      </div>
      <h1>Быть ближе</h1>
      <div class="blocks">
        <p>АККАУНТ</p>
        <div class="block key">
          <p>Код доступа</p>
          <%= image_tag "on.svg" %>
        </div>
        <p>настройки</p>
        <div class="block nots">
          <p>Уведомления</p>
          <%= image_tag "on.svg" %>
        </div>
        <div class="block synx">
          <p>Синхронизация с приложениями</p>
          <%= image_tag "on.svg" %>
        </div>
        <p>приложение</p>
        <div class="block onb">
          <p>Онбординг</p>
          <%= image_tag "on.svg" %>
        </div>
        <div class="block agree">
          <p>Пользовательское соглашение</p>
          <%= image_tag "on.svg" %>
        </div>
        <div class="block pr">
          <p>Приватность</p>
          <%= image_tag "on.svg" %>
        </div>
        <h5>zen version 2022.02</h5>
      </div>
    </div>
  </div>
</section>

<section class="adding">
  <div class="field">
    <div class="content">
      <div class="head">
        <div class="back"></div>
        <div class="exit">
          <%= image_tag "exit.svg" %>
        </div>
      </div>
      <div class="descr">
        <%= image_tag "zenlogoinactive.svg" %>
        <h2>Что тебя тревожит?</h2>
        <p>Жить с расстройством сложно и иногда их близким приходится нелегко, поэтому ты можешь выговориться и поделиться своими переживаниями здесь </p>
      </div>
      <div class="fuck_buttons">
        <button class="fuckit" type="button" name="button">Записать мысли</button>
      </div>
    </div>
    <div class="thoughts">
      <div class="head">
        <div class="back">
          <%= image_tag "back.svg" %>
        </div>
        <div class="exit_s">
          <%= image_tag "exit.svg" %>
        </div>
      </div>
      <h2>Поделись своими чувствами</h2>
      <p>Здесь ты можешь отправить в свободное плаванье все, что тебя беспокоит. Позволь этому уйти.</p>
      <%= text_area_tag 'key', nil, class: 'key' %>
      <button class="fuckfuck" type="button" name="button">
        <p>Записать мысли</p>
      </button>
    </div>
  </div>
</section>

<%= link_to "", relative_path, :class => "link_rel" %>
<%= link_to "", main_relative_path, :class => "link_main" %>
<%= link_to "", history_relative_path, :class => "link_history" %>
<%= link_to "", notes_relative_path, :class => "link_notes" %>

<script type="text/javascript">
  $(document).ready(function(){

    $(".home").click(function(){
      $(".link_main").get(0).click();
    });

    $(".onb").click(function(){
      $(".link_rel").get(0).click();
    });

    $(".history").click(function(){
      $(".link_history").get(0).click();
    });

    $(".notes").click(function(){
      $(".link_notes").get(0).click();
    });
    $(".cart1").click(function(){
      $(".advs_self").css("display", "block");

      $(".n1").click(function(){
        $(".n2").toggleClass("unseen");
        $(".n2").click(function(){
          $(".n2").toggleClass("unseen");
          $(".n3").toggleClass("unseen");
          $(".n3").click(function(){
            $(".n3").toggleClass("unseen");
            $(".n4").toggleClass("unseen");
            $(".n4").click(function(){
              $(".n4").toggleClass("unseen");
              $(".n5").toggleClass("unseen");
              $(".n5").click(function(){
                $(".advs_self").css("display", "none");
              })
            })
          })
        })
      })
    })
  });
</script>
